body {
  background-color: #FFA500;
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  margin-bottom: 10px;
}

h2 {
  margin: 8px 0px;
  border: dashed;
  display: inline-block;
  padding: 5px;
}

p {
  margin: 0px 30px;
}

ul {
  margin: 5px 0px;
  padding-left: 70px;
}
